<!DOCTYPE html>
<html>
  <head>
    <title>Notitia Survey App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  </head>
  <body>
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React JS</title>
</head>
<body>
<div class = "container" id = "userBox">
  <center>
  <h1 class="white titleClass">
Notitia  
  </h1>
  <h3 class="white">
    Make and Take Surveys
  </h3>
  </center>
<div id = "userData">
</div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel">
        var Form = React.createClass({
  getInitialState: function(){
    return {
      welcome: true,
      login: false,
      register: false
    }
  },
  welcome: function(){
    return (
    <div className ="welcomeState white">
        <center>
        <h1 className="white">
          Welcome
        </h1>
        <button className ="homeBut" onClick={()=>{this.setState({login: true, welcome: false})}}>
          Login
        </button>
        <button className ="homeBut" onClick={()=>{this.setState({register: true, welcome: false})}}>
          Register
        </button>
        <a href = "/random"><button className ="homeBut">
          Random
        </button></a>
        </center>
        </div>
    )
  },
  signIn: function(){
    return(
    <div>
              <center>
        <form method = "POST" action = "/login">
      <h2 className="white">
      Welcome Back
    </h2>
      <h3 className="white">
        Username
      </h3>
      <input name = "user">
      </input>
    <h3 className="white">
      Password
    </h3>
          <input type ="password" name = "password">
      </input><br/>
<button className ="homeBut" type="submit">Login
</button>
        <button type="button" className ="homeBut" onClick ={()=>{this.setState({login:false,welcome:true})}}>
            Back
          </button> 
    </form>
            
        </center>
        </div>
    )
  },
  register: function(){
    return(
    <div>
        <center>
        <form method = "POST" action = "/newUser">
      <h2 className="white">
      New User
    </h2>
      <h3 className="white">
        Username
      </h3>
      <input name = "user">
      </input>
    <h3 className="white">
      Password
    </h3>
          <input type ="password" name = "password">
      </input>
  <h3 className="white">
    Confirm Password
  </h3>
        <input type ="password" name = "passwordConfirm">
      </input><br/>
<button className ="homeBut" type="submit">Register
</button>         
<button type="button" className ="homeBut" onClick ={()=>{this.setState({register:false,welcome:true})}}>
            Back
          </button>
    </form>


        </center>
        </div>)
  },
  render: function(){
    if(this.state.welcome){
     return this.welcome()
    }
    if(this.state.register){
      return this.register()
    }
    if(this.state.login){
     return this.signIn()
    }
  }
})

ReactDOM.render(<Form />, document.getElementById("userData"))
    </script>
</body>
</html>
  </body>
</html>
  
