<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

   </head>
  <body>
    
<div class = "container" id = "userBox">

  <span class ="white" id = "name">
  </span>

    <span class ="white" id = "infor">
  </span>
  <center>
  <h1 class="white titleClass" id = "as">
Notitia  
  </h1>
  <h3 class="white">
    Make and Take Surveys
  </h3>
        <center>

          <a href = "/dashboard">
          <button class = "logoutBut">
            Back
          </button>
        </a>
          <div id = "buttons">
          </div>
          <div id = "link">
          </div>

          <div class = "rows">
            <div class ="col-md-2">
            </div>
            <div class = col-md-6>
                <div id = "graph">
    </div>
  </div>
  <div class = col-md-4>
    <form id ="formOptions" method = "POST" action="/submitResponse">

    </form>
  </div>
  </div>
    </center>
  </center>


<div id = "userData">
</div>

</div>


    <script src="https://d3js.org/d3.v4.js"></script>
    <script>
        //Parses name
         var w;


     var variable = document.cookie.split(";")
         for(var i=0; i<variable.length; i++){
        var z = variable[i].split("=");     
        if(variable[i].split("=")[0] == " user" ||variable[i].split("=")[0] == "user" ){
          w = i;
        }
    }
    var parsed = variable[w].split("=")
     var userID = parsed[1];


    var variable = document.cookie.split(";")
   
    var testArray =[];

    for(var i=0; i<variable.length; i++){
        var z = variable[i].split("=");     
        if(variable[i].split("=")[0] == " userData"){
          w = i;
        }
    }
    var a = variable[w].split("=");
    console.log(a[1])
    var b = a[1].replace(/%20/g," ");
    var c = b.replace(/%3A/g,":");
    var d = c.replace(/%22/g, '"');
    var e = d.replace(/%3A/g, ":");
    var f = e.replace(/%5B%7B/g,"[{")
    var g = f.replace(/%7D%5D/g, "}]")
    var h = g.replace(/%7D/g, "}")
    var j = h.replace(/%7B/g, "{")

    var k = j.replace(/%3F/g,"?");
    var final = k.replace(/%2C/g,",");


    var barObjects = JSON.parse(final)

      var nameArray = []
      var copyNameArray =[];
    barObjects.forEach(function(x,i){
      console.log("F(X): "+x)
      nameArray.push(Object.keys(x));
      copyNameArray.push(Object.keys(x));
      $("#buttons").append("<button onClick = 'setIndex("+i+")' class='logoutBut'>"+x.title+"</button>   ")
    })

        for(var i = 0; i<nameArray.length; i++){
          for(var j=0; j<nameArray[i].length;j++){
            if(nameArray[i][j] === "title"){
              nameArray[i].splice(j,1)
              copyNameArray[i].splice(j,1)
            }
          }
        }
       
        for(var i = 0; i<nameArray.length; i++){
          for(var j=0; j<nameArray[i].length;j++){
            var pos = nameArray[i][j]
          nameArray[i][j] = barObjects[i][pos]
          }
        }
        dataset = nameArray
   

     var q = 0;
    function setIndex(i){
       q = i;
       var titleValue = barObjects[q]["title"]
      var urlTitle = titleValue.replace(/ /g, "_")
      $("#link").html("<h3 class = 'share'>Share Survey:</h3><textarea>https://jealous-ellipse.glitch.me/takesurvey/"+userID+"+"+urlTitle+"</textarea>")
     
      d3.select("svg").remove();
      $("#formOptions").html('');
     
       document.getElementById("infor").innerHTML = titleValue;
             copyNameArray[q].forEach((x,i)=>{
        $("#formOptions").append(x+"<br><input class='radios' name = 'bawton' type = 'radio' value ="+'"'+x+'"'+"></input>")
        if(i === copyNameArray[q].length-1){
          $("#formOptions").append("<input type = 'hidden' value = "+'"'+titleValue+'"'+" name='title'></input><input type = 'hidden' name = 'nonuser' value = "+false+"></input>")
        $("#formOptions").append("<br><input type = 'submit'></input>")
      }
      })
      graph();
    }
           
    
    
  function graph(){
var h = 400;
var w = 700
var padding = 60;
var divided = w/dataset[q].length
        const xScale = d3.scaleLinear()
          //.domain([0,dataset[q].length])
     .range([padding, w + padding]);
    
    const yScale = d3.scaleLinear()
                .domain([0, d3.max(dataset[q])])
     .range([h - padding, padding]);
        
var canvas =d3.select("#graph")
        .append("svg")
        .attr("width", h)
        .attr("height",w)

 var bars = canvas.selectAll("rect")
  .data(dataset[q])
    .enter()
     .append("rect")
      .attr("height",(d)=>{

      return h-yScale(d)-padding
    })
      .attr("width",(d,i)=>{
        return divided/2-5;
    })
      .attr("y", function(d,i){
    return yScale(d)
  })
       .attr("x", function(d,i){
   return i*divided/2+padding
  })
      .attr("fill", "#c9a358")
      .append("title")
      .text((d,i)=>{
        return copyNameArray[q][i]+": " + d
      });

    var text = canvas.selectAll("text")
    .data(copyNameArray[q])
    .enter()
    .append("text")
    .text((d)=> d)
    .attr("y", h-40)
    .attr("x", (d,i)=>i*divided/2+padding+padding/2+5)

    var title = canvas.selectAll("text")
    .data(barObjects[q]["title"])
    .enter()
    .append("text")
    .text((d)=>barObjects[q]["title"])
    .attr("y", 25)
    .attr("x", divided/2)

     const xAxis = d3.axisBottom(xScale)
    canvas.append("g")
       .attr("transform", "translate(0," + (h-padding+5) + ")")
       .call(xAxis
            .ticks(0)
            .tickFormat("") 
             );
    const yAxis = d3.axisLeft(yScale);
    canvas.append("g")
    .attr("transform", "translate("+(padding)+",0)")
          .call(yAxis);
        }

    </script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

   
</body>
</html>
