<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React JS</title>
</head>
<body>
<div class = "container" id = "userBox">
  <center>
  <h1 class="white">
Notitia  
  </h1>
  <h3 class="white">
    Make and Take Surveys
  </h3>
  <div id = "title">
  </div>
  </center>
<div class = "rows">
  <div class = "col-md-2">
  </div>
  <div class = "col-md-6">
<div id = "graph">
</div>
</div>
  <div class = "col-md-4">
    <center>
   <form id = "options" method = "POST" action="/submitResponse">
    </form>
      </center> 
  </div>
</div>
</div>
</div>
 <script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript">
   // %22title%22%3A%22Sun%20or%20Moon%22%2C%22Sun%22%3A6%2C%22Moon%22%3A8%2C%22Stars%22%3A2%2C%22Black%20Hole%22%3A11
 //title:Sun or Moon%2CSun:6%2CMoon:8%2CStars:2%2CBlack Hole:11
    var variable = document.cookie.split(";")
    var w;
    var testArray =[];

    for(var i=0; i<variable.length; i++){
        var z = variable[i].split("=");     
        if(variable[i].split("=")[0] == " guestChart"){
          w = i;
        }
    }
  
    var a = variable[w].split("=");
    var b = a[1].replace(/%20/g," ");
    var c = b.replace(/%22%3A%22/g,":");
    var d = c.replace(/%22/g, "");
    var e = d.replace(/%3A/g, ":");
    var final = e.split("%2C")
    var title = final[0].split(":")
    final.shift();
    document.getElementById("title").innerHTML = variable;
    //datify
  var nameSet = [];
  var dataset =[];
  final.forEach((x,i)=>{
    var y = x.split(":")
    $("#options").append(y[0]+"<input class = 'radios' type ='radio' name ='bawton' value ="+"'"+y[0]+"' </input>")
    dataset.push(parseInt(y[1]));
    if(i === final.length-1){

      $("#options").append("<input type = 'hidden' name = 'title' value = "+"'"+title[1]+"'"+"></input><input type = 'hidden' name = 'nonuser' value = "+true+"></input><input onClick = 'go()' type = 'submit'></input>")
    }
  })
document.getElementById("title").innerHTML = nameSet;


  function graph(){
var h = 400;
var w = 400
var padding = 60;
        
        const xScale = d3.scaleLinear()
          .domain([0,5])
     .range([padding, w + padding]);
    
    const yScale = d3.scaleLinear()
                .domain([d3.min(dataset), d3.max(dataset)])
     .range([h - padding, padding]);
        
var canvas =d3.select("#graph")
        .append("svg")
        .attr("width", h)
        .attr("height",w)

 var bars = canvas.selectAll("rect")
  .data(dataset)
    .enter()
     .append("rect")
      .attr("height",(d)=>{

      return yScale(d)
    })
      .attr("width",(d,i)=>{
      return 50;
    })
      .attr("y", function(d,i){
    return h-yScale(d)-padding;
  })
       .attr("x", function(d,i){
    return i*85+padding;
  })
      .attr("fill", "blue")
      .append("title")
      .text((d,i)=>{
        return d;
      });

     const xAxis = d3.axisBottom(xScale)
    canvas.append("g")
       .attr("transform", "translate(0," + (h-padding) + ")")  
       .call(xAxis);
    const yAxis = d3.axisLeft(yScale);
    canvas.append("g")
    .attr("transform", "translate("+(padding)+",0)")
          .call(yAxis);
        }
     graph();
</script>
</body>
</html>
  </body>
</html>
  
