input{
  display: block;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-size: 16px;
  color: black;
}
input:focus {
    outline:none;
  box-shadow: 10px 10px 5px black;
  }

  svg{
    margin-top: 10%;
    z-index:1;
  }
  rect:hover{
    fill: #5a9164;
  }
.radios{
box-shadow: 10px 10px 5px white !important;
}

.white{
  color: white;
}
.welcomeState{
    margin-top: 8%;
}
#graph{
background-color: white;}

#formOptions{
  background-color: white;
}

#userBox{
  width: 75%;
  height: 100vh;
  margin-left: 10%;
  background-color: #294b82;
  border-radius: 5px;
}
#name{
  margin-left: 2%;
  margin-top: 50%;
}
.homeBut{
  padding: 10px;
  width: 100px;
  background-color: white;
  margin-right: 20px;
  color: black;
}
  .homeBut:hover{
    background-color: #bbdaf7;
  }
.logoutBut{
    display: block;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-size: 16px;
  float:right;
  margin-right: 2%;
  margin-top: 2%;
  position:relative;
  color: black;
}
    .logoutBut:focus{
        outline:none;
    }

.backButton{
  display: block;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-size: 16px;
  color: black;
}
    .backButton:focus{
        outline:none;
  box-shadow: 10px 10px 5px black;
    }

.formButton{
  padding: 10px;
  margin-top: 15%;
  color: black;
}
.buttonsMarginTop{
  margin-top: 3%;
}