textarea{
  width: 250px;

}
input{
  display: block;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-size: 16px;
  color: black;
}
input:focus {
    outline:none;
  box-shadow: 10px 10px 5px black;
  }

  svg{
    margin-top: 10%;
    z-index:1;
  }
  rect:hover{
    fill: #5a9164;
  }
.miscBtn{
  background-color:#9b9b9b;
}
  #popup{
    border: 5px solid black;
    margin-left: 20%;
    position: fixed;
    display: none;
    z-index: 2;
    width: 50%;
    background-color: #994949;
    box-shadow: 10px 10px 5px black;
  }
  .danger{
    background-color: #994949;
    padding: 10px;
    border-radius: 10px;
  }
.radios{
box-shadow: 10px 10px 5px #9b9b9b !important;
}

.white{
  color: white;
}
.welcomeState{
    margin-top: 8%;
}
#graph{
background-color: #9b9b9b;
}

#formOptions{
  background-color: #9b9b9b;
}
#options{
  background-color: #9b9b9b;
  width: 50%;
  padding: 12px;
  box-shadow: 10px 10px 5px black
}
#title{
  font-size: 30px;
  color: white;
}
#link{
  background-color: #3b3d3f;
  width: 95%;
}
#userBox{
  width: 90%;
  height: 130vh;
  margin-left: 5%;
  background-color: #3b3d3f;
  border-radius: 5px;
}
#name{
  margin-left: 2%;
  margin-top: 50%;
}
.homeBut{
  padding: 10px;
  width: 100px;
  background-color: white;
  margin-right: 10px;
  color: black;
}
  .homeBut:hover{
    background-color: #bbdaf7;
  }
.logoutBut{
    display: block;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-size: 16px;
  float:right;
  margin-right: 2%;
  margin-top: 2%;
  position:relative;
  color: black;
  z-index: 1;
  background-color: #b2b0ad;
}
    .logoutBut:focus{
        outline:none;
    }

.titleClass{
  font-family: 'Abril Fatface', cursive;
}
.backButton{
  display: block;
  margin-top: 1%;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-size: 16px;
  color: black;
}
    .backButton:focus{
        outline:none;
  box-shadow: 10px 10px 5px black;
    }

.formButton{
  padding: 10px;
  margin-top: 15%;
  color: black;
}
.buttonsMarginTop{
  margin-top: 3%;
}

.share{
  color:#5a9164;
}
@media only screen and (max-device-width: 480px){

}